<template>
  <div>
    <h1 class="text-4xl hover:text-indigo-500 text-green-500">Vue Component</h1>
    <p>Shopify Prop: {{ externalProp }}</p>
    <p>Store Value: {{ value }}</p>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    externalProp: {
      type: String,
      default: ""
    }
  },
  computed: {
    ...mapGetters("example", ["value"])
  }
};
</script>