<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">
  <title>{{ shop.name }}</title>

  <!--------- Global Styles --------->
  <!--{{ 'tailwind.css' | asset_url | stylesheet_tag }}-->
  {{ 'index.css' | asset_url | stylesheet_tag }}
  <!--------- Global Fonts --------->
  {{ 'fonts.css' | asset_url | stylesheet_tag }}

  <meta name="description" content="">

  {{ content_for_header }}
</head>

<body class="antialiased max-w-6xl mx-auto">

  <div class="container mx-auto lg:py-32">
    <h1 class="font-bold text-5xl text-center">Tailwind Starter</h1>
    <div class="flex items-center justify-center">
      <vue-example external-prop="Hello from Shopify!"></vue-example>
    </div>
  {{ content_for_layout }}
  </div>

  <!--------- Global Scripts --------->
  {{ 'index.js' | asset_url | script_tag }}
</body>
</html>
